<div class="frame">
<img class="img" src="assets/call.png">
<label style="margin: 0 auto; font-weight: 600; font-size: 1.4rem;">Support</label>
<p-divider></p-divider>
<div class="body">
    <div class="field">
        <label htmlFor="username">Website</label>
        <a  href="https://thirumathikart.nitt.edu">
        <p-button icon="pi pi-globe" label="thirumathikart.nitt.edu"   [raised]="true" [outlined]="true"></p-button>
        </a>
    </div>
    <br>
    <div class="field">
        <label htmlFor="username">Email</label>
        <a 
        href="mailto:thirumathikart@gmail.com">
        <p-button icon="pi pi-envelope" label="thirumathikart@gmail.com"   [raised]="true" [outlined]="true"></p-button>
        </a>
    </div>
    <br>
    <div class="field">
        <label htmlFor="username">Phone Number</label>
        <a 
        href="telto:+919944429848">
        <p-button icon="pi pi-phone" label="+919944429848"   [raised]="true" [outlined]="true"></p-button>
        </a>
    </div>
</div>
</div>
