<div class="frame">
    <img class="img" src="assets/call.png">
    <label style="margin: 0 auto; font-weight: 600; font-size: 1.4rem;">Support</label>
    <p-divider></p-divider>
    <div class="body">
        <div class="field">
            <label htmlFor="username">Website</label>
            <a href="https://thirumathikart.nitt.edu">
                <p-button icon="pi pi-globe" label="thirumathikart.nitt.edu" [raised]="true"
                    [outlined]="true"></p-button>
            </a>
        </div>
        <br>
        <div class="field">
            <label htmlFor="username">Email</label>
            <a href="mailto:thirumathikart@gmail.com">
                <p-button icon="pi pi-envelope" label="thirumathikartnitt@gmail.com" [raised]="true"
                    [outlined]="true"></p-button>
            </a>
        </div>
        <br>
        <div class="field">
            <label htmlFor="username">Phone Number</label>
            <a href="tel:+917598613558">
                <p-button icon="pi pi-phone" label="+917598613558" [raised]="true" [outlined]="true"></p-button>
            </a>
        </div>
        <br>
        <div class="field">
            <label htmlFor="username">Youtube</label>
            <a href="http://www.youtube.com/@ThirumathikartNITT">
                <p-button icon="pi pi-youtube" label="ThirumathikartNITT" [raised]="true" [outlined]="true"></p-button>
            </a>
        </div>
        <br>
        <div class="field">
            <label htmlFor="username">Address</label>
            <a>

                <button style="display: flex; justify-content: flex-start; align-items: start;" pButton type="button" class=" 
                    p-button-raised  
                    p-button-outlined">

                    <i class="pi pi-map-marker"></i>
                    <p-card>
                    Thirumathikart Lab,
                    <br />
                    NIT-Trichy,
                    <br />
                    Tiruchirappalli,
                    <br />
                   620015
                </p-card>
                </button>

            </a>
        </div>
    </div>
</div>