.frame {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.img {
    margin: 1rem auto;
    width: min-content;
    background-color: rgb(153, 211, 237);
    border-radius: 50%;
    height: 10rem;
    object-fit: contain;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: max-content;
}

.body {
    padding: 1rem;
}

:host ::ng-deep p-button-label {
    white-space: break-word;
    word-break: break-all;
}

:host ::ng-deep .p-card  {
 background: transparent !important;
 color: #3B82F6;
 box-shadow: none;
 text-align: start;
 font-weight: 600;
}

:host ::ng-deep .p-card .p-card-body  {
    padding: 0;
    
}

:host ::ng-deep  .p-card .p-card-content {
    padding: 0;
    padding-left: 1rem;
}