<div *ngIf="orders">
    <div *ngFor="let order of orders">
        <div class="order-card" *ngFor="let item of order.items">
            <div (click)="onClick(order._id)" class="content">
                <img class="img" [src]="item.image   | safeUrl | async" />
                <div class="title-content">
                    <div class="name">{{ item.name }}</div>
                    <div class="status">
                       {{ order.status }}
                    </div>
                </div>
                <span class="arrow">
                    <i class="pi pi-angle-right"></i>
                </span>
            </div>
        </div>
    </div>
</div>