<div>
    <div class="header">
        <div class="logo-content">
            <!-- <img class="logo" src="assets/logo.png" /> -->
            <h3>Thirumathikart</h3>
        </div>
    </div>
    <div class="body">
        <div *ngIf="selectedMenu==0">
            <app-seller-orders></app-seller-orders>
        </div>
        <div *ngIf="selectedMenu==1">
            <app-inventory></app-inventory>
        </div>
        <div *ngIf="selectedMenu==2">
            <app-profile></app-profile>
        </div>
        <div *ngIf="selectedMenu==3">
            <p-accordion [multiple]="true" [activeIndex]="[0]">
                <p-accordionTab header="FSSAI Certificate">
                    <a href="https://foscos.fssai.gov.in/">
                        Registration link
                    </a>
                    <br>
                    <a href="https://www.fssai.gov.in/cms/registration.php">
                        User Manual
                    </a>
                </p-accordionTab>
                <p-accordionTab header="GST Certificate">
                    <a href="https://reg.gst.gov.in/registration/">
                        Registration link
                    </a>
                    <br>
                    <a href="https://youtube.com/@GoodsandServicesTaxNetwork?si=2Fu9jQlOq6KypSad">
                        GST youtube
                    </a>
                </p-accordionTab>
                <p-accordionTab header="Raw-materials Wholesale">
                    <a href="https://www.marketmirchi.com">
                        Market Mirchi
                    </a>
                </p-accordionTab>
                <p-accordionTab header="Buying Machines for bulk Production">
                    <a href="https://gem.gov.in/">
                        Government e Marketplace (GeM)
                    </a>
                    <br>
                    <a href="https://thirumathikart.nitt.edu/">
                        Thirumathikart website
                    </a>
                </p-accordionTab>
            </p-accordion>
            <p-divider></p-divider>
            <app-support></app-support>
        </div>
    </div>
    <div class="footer">
        <div *ngFor="let menu of menus" style="display: flex; flex-direction: column;"
            [style.color]="selectedMenu == menu.index ? 'green': 'black'" (click)="selectedMenu=menu.index">
            <i [class]="menu.icon" [style.font-size]="selectedMenu == menu.index ? '1.2rem' : '1rem'"></i>
            <div>{{menu.label}}</div>
        </div>
    </div>   
</div>