<div *ngIf="product">
    <div class="header">
        <p-button (click)="goBack()" severity="secondary" [rounded]="true" [text]="true">
         <i class="pi pi-arrow-left"></i>
        </p-button> 
        <span class="gap">{{ product.name }}</span>   
    </div>
    <img 
    class="img"
    [src]="'https:/thirumathikart.nitt.edu/api/product/images' + product.image"
    alt="Image"/>
    <div class="layout">
        <div class="title-frame">
            <div class="title-content">
                <div class="name">{{ product.name }}</div> 
                <div class="price">₹ {{ product.price }}</div>
            </div> 
            <p-chip class="chip">
                <div class="category">
                    {{ product.categories }}
                </div>
            </p-chip>
        </div>
        <div class="counter">
            <p-button (click)="decrement()">
                <i  class="pi pi-minus"></i> 
            </p-button>
            <input type="number" pInputText [(ngModel)]="count"/>
            <p-button (click)="increment()">
                <i class="pi pi-plus"></i>
            </p-button> 
        </div>
        <p-tabView [(activeIndex)]="activeIndex">
            <p-tabPanel header="Description">
                <p>
                    {{product.description}}
                </p>
            </p-tabPanel>
            <p-tabPanel header="Seller">
                <div style="display: flex;">
                    <div style="flex: 3;">
                        {{seller.address[0].line1}},
                        {{seller.address[0].line2}},
                        {{seller.address[0].landmark}}
                        <p>{{seller.address[0].district}}</p>
                        <p>{{seller.address[0].state}}</p>
                        <p>{{seller.address[0].pin_code}}</p>
                    </div>
                    <div  style=" display: flex;  gap: 0.5rem; flex: 1;">
                        <a [href]="'telto:+91'+seller.contact_number">
                            <button type="button" pButton icon="pi pi-phone"
                                style="background: transparent; color:cornflowerblue; border-color: cornflowerblue; margin-right: 0.5rem;"></button>
                        </a>
                        <a [href]="'https://wa.me/91'+seller.contact_number">
                            <button type="button" pButton icon="pi pi-whatsapp"
                                style="background: transparent; color:rgb(43, 169, 43); border-color: rgb(43, 169, 43); "></button>
                        </a>
                    </div>

                </div>
      
            </p-tabPanel>
        </p-tabView>
        <div class="cart">
            <p-button (click)="goToPayment()" label="Buy Now" iconPos="right">
            </p-button>
        </div>
    </div>
</div>