<div class="body">
    <p-tabView *ngIf="headers" [scrollable]="true">
        <p-tabPanel *ngFor="let key of headers">
            <ng-template pTemplate="header">
                <i [class]="icons.get(key)" style="font-size: 1rem; margin-right: 7.5px;"></i>
                <span>{{key}}</span>
            </ng-template>
            <div class="order-card" *ngFor="let order of panels.get(key)">
                <div style="font-size: 1rem; font-weight: bold; padding: 1rem 0;" *ngIf="key=='Done'">
                    ID: {{order._id}}
                    <p-divider></p-divider>
                </div>
                <div class="content">
                    <div *ngIf="key!='Shipped'">
                        <div style="display: flex; justify-content: space-between;">
                            <h4>From</h4>
                            <a *ngIf="key!='Done'"
                                [href]="'https://maps.google.com/?q=' + order.buyer.address[0].latitude + ',' + order.buyer.address[0].longitude">
                                <button type="button" pButton icon="pi pi-map-marker"
                                    style="background: transparent; color:rgb(253, 122, 122); border-color: rgb(253, 122, 122);"></button>
                            </a>
                        </div>
                        <div>
                            {{order.buyer.address[0].line1}},
                            {{order.buyer.address[0].line2}},
                            {{order.buyer.address[0].landmark}}
                            <p>{{order.buyer.address[0].district}}</p>
                            <p>{{order.buyer.address[0].state}}</p>
                            <p>{{order.buyer.address[0].pin_code}}</p>
                        </div>
                        <p-divider></p-divider>
                    </div>

                    <div *ngIf="key!='Enroute'">
                        <div style="display: flex; justify-content: space-between;">
                            <h4>To</h4>
                            <a *ngIf="key!='Done'"
                                [href]="'https://maps.google.com/?q=' + order.seller.address[0].latitude + ',' + order.seller.address[0].longitude">
                                <button type="button" pButton icon="pi pi-map-marker"
                                    style="background: transparent; color:rgb(253, 122, 122); border-color: rgb(253, 122, 122);"></button>
                            </a>
                        </div>
                        <div>
                            {{order.seller.address[0].line1}},
                            {{order.seller.address[0].line2}},
                            {{order.seller.address[0].landmark}},
                            {{order.seller.address[0].district}}
                            <p>{{order.seller.address[0].state}} </p>
                            <p>{{order.seller.address[0].pin_code}}</p>
                        </div>
                        <p-divider *ngIf="key!='Done'"></p-divider>
                    </div>
                    <span *ngIf="key=='New'" class="arrow">
                        <button (click)="updateStatus('REJECTED',order._id)" type="button" pButton icon="pi pi-times"
                            label="Reject"
                            style="background: transparent; color: red; border-color: red; margin-right: 0.5rem;"></button>
                        <button (click)="updateStatus('ACCEPTED',order._id)" type="button" pButton icon="pi pi-check"
                            label="Accept" style="background: transparent; color: green; border-color: green;"></button>
                    </span>
                    <span *ngIf="key=='Enroute'" class="arrow2">
                        <div>
                            <a *ngIf="key!='Done'" [href]="'telto:+91'+order.seller.contact_number">
                                <button type="button" pButton icon="pi pi-phone"
                                    style="background: transparent; color:cornflowerblue; border-color: cornflowerblue; margin-right: 0.5rem;"></button>
                            </a>
                            <a *ngIf="key!='Done'" [href]="' https://wa.me/91'+order.seller.contact_number">
                                <button type="button" pButton icon="pi pi-whatsapp"
                                    style="background: transparent; color:rgb(43, 169, 43); border-color: rgb(43, 169, 43); "></button>
                            </a>
                        </div>
                        <button (click)="updateStatus('SHIPPED',order._id)" type="button" pButton icon="pi pi-truck"
                            label="Shipped"
                            style="background: transparent; color: green; border-color: green; margin-right: 0.5rem;"></button>
                    </span>
                    <span *ngIf="key=='Shipped'" class="arrow2">
                        <div>
                            <a *ngIf="key!='Done'" [href]="'telto:+91'+order.buyer.contact_number">
                                <button type="button" pButton icon="pi pi-phone"
                                    style="background: transparent; color:cornflowerblue; border-color: cornflowerblue; margin-right: 0.5rem;"></button>
                            </a>
                            <a *ngIf="key!='Done'" [href]="' https://wa.me/91'+order.buyer.contact_number">
                                <button type="button" pButton icon="pi pi-whatsapp"
                                    style="background: transparent; color:rgb(43, 169, 43); border-color: rgb(43, 169, 43); "></button>
                            </a>
                        </div>
                        <button (click)="updateStatus('DELIVERED',order._id)" type="button" pButton
                            icon="pi pi-verified" label="Delivered"
                            style="background: transparent; color: green; border-color: green; margin-right: 0.5rem;"></button>
                    </span>
                </div>
            </div>
            <div *ngIf="panels.get(key)?.length===0" class="notfound">
                <i class="pi pi-folder-open" style="font-size: 10rem;"></i>
                <p>No Records Found</p>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>